{{ define "main" }}
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true) }}
    
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-px-6 hx-pt-8 md:hx-px-12">
        <div class="content hx-max-w-3xl">
          <div class="hx-flex hx-flex-row hx-items-center hx-gap-2">
            {{ if .Title }}
              <h1 class="hx-underline hx-decoration-gray-300 dark:hx-decoration-gray-600 hx-decoration-4">
                #{{ .Title }}
              </h1>
            {{ end }}
            <div class="hx-w-6 hx-h-6 hx-px-3 hx-flex hx-justify-center hx-items-center hx-rounded-lg hx-bg-neutral-300
                        hx-font-medium hx-text-neutral-600 dark:hx-text-neutral-400 dark:hx-bg-neutral-800">
              {{ len .Paginator.Pages }}
            </div> 
          </div>
          <div class="hx-mt-4 hx-text-md hx-text-neutral-700 dark:hx-text-neutral-300">
            {{ .Content }}
          </div>
        </div>
        <div class="hx-mt-8">
          <div class="hextra-cards hx-grid hx-gap-4 hx-w-full not-prose"
               style="--hextra-cards-grid-cols:4">
            {{ $thumbnail := ((resources.Get "img/XSW_05.png").Fit "600x400 Center webp").RelPermalink }}
            {{ range $index, $page := .Paginator.Pages }}
              <!-- Make Post Card with thumbnail -->
              {{ with $mainImg := .Resources.Get $page.Params.mainImg }} 
                {{ $mainImg = cond (eq .MediaType.SubType "gif") 
                                  ($mainImg.Fit "600x400 Center gif") 
                                  ($mainImg.Fit "600x400 Center webp") }}
                {{ $thumbnail = $mainImg.RelPermalink }}
              {{ end }}

              {{ $isFirst := eq $index 0 }}
              {{ $postData := dict 
                "IsFirst" $isFirst
                "Params"  $page.Params 
                "link"    $page.RelPermalink
                "permalink" $page.Permalink 
                "thumbnail" $thumbnail
                "displayTags" true }}
              {{ partial "post-card.html" $postData }}
            {{ end }}
          </div>
        </div>
      </main>
    </article>
  </div>
{{ end }}