{{- $title := .Params.title | default "Default Title" -}}
{{- $desc := .Params.desc | default "Default desc" -}}
{{- $image := .Params.mainImg | default "/XSW_05.png" -}}
{{- $displayTags := .displayTags | default true -}}
{{- $icon := .icon | default "" -}}
{{- $link := .link | default "#" -}}

{{- $external := hasPrefix $link "http" -}}
{{- $href := cond (strings.HasPrefix $link "/") ($link | relURL) $link -}}
{{- $image := resources.Get (printf "img/%s" $image) -}}

<a class="hx-aspect-auto not-prose hx-block hx-relative
          hx-overflow-hidden hx-rounded-lg hx-border hx-border-gray-200 hx-text-current hx-no-underline dark:hx-shadow-none
          hover:hx-scale-[1.02] hover:hx-shadow-gray-100 dark:hover:hx-shadow-none hx-shadow-gray-100 active:hx-shadow-sm 
          active:hx-shadow-gray-200 hx-transition-all hx-duration-200 hover:hx-border-gray-300 hx-bg-gray-100 hx-shadow 
          dark:hx-border-neutral-800 dark:hx-bg-neutral-900 dark:hx-text-gray-50 hover:hx-shadow-lg 
          dark:hover:hx-border-neutral-600 dark:hover:hx-bg-neutral-800"
          href="{{ $href }}" {{ with $external }} target="_blank" rel="noreferrer" {{ end }}>
  
  <div class="hx-relative hx-w-full hx-h-full hx-flex hx-flex-col">
    <!-- Thumbnail Image -->
    {{ with $image }}
      <div class="hx-relative hx-aspect-[16/9] hx-overflow-hidden">
        <picture>
          {{ if eq $image.MediaType.SubType "gif"}}
            <source type="image/gif" 
                    srcset='{{ ($image.Fit "600x400 Center gif").RelPermalink }}'> 
          {{ else }}
            <source type="image/webp" 
                    srcset='{{ ($image.Fit "600x400 Center webp").RelPermalink }}'>
          {{ end }}
          <img class="hextra-card-image thumbnail hx-absolute hx-inset-0 hx-h-full hx-w-full hx-object-cover" 
               decoding="async" loading="lazy" alt="{{ $title }}"/>
        </picture>
      </div>
    {{ end }}
    <div class="hx-p-4 hx-flex hx-flex-col hx-flex-grow hx-justify-between">
      <div class="hx-mb-4">
        <!-- Post Tags -->
        {{ if $displayTags }}
          {{ with .Params.tags }}
              <div class="hx-mb-1 hx-flex hx-flex-column hx-items-center hx-gap-2">
                {{ range . }}
                <div class="hx-inline-block hx-items-center hx-leading-6 hx-text-sm
                            hx-subpixel-antialiased hx-text-blue-500">#{{ . }}</div>
                {{ end }}
              </div>
          {{ end }}
        {{ end }}
        <!-- Title -->
        <span class="hextra-card-icon hx-flex hx-font-semibold hx-self-start hx-mb-2
                     hx-leading-7 md:hx-leading-6 hx-text-gray-800 hx-text-xl md:hx-text-lg hx-items-start 
                     dark:hx-text-neutral-100 dark:hover:hx-text-neutral-50 hover:hx-text-gray-900">
          {{ $title }}
        </span>
        <!-- Description -->
        {{ with .Params.desc }}
          <div class="hextra-card-subtitle hx-line-clamp-3 hx-text-sm hx-font-normal 
                    hx-text-gray-600 dark:hx-text-gray-400">
            {{ $desc }}
          </div>
        {{ end }}
      </div>

      <!-- Publish Date & Read Time -->
      <div class="hx-text-gray-600/90 dark:hx-text-gray-300/55 hx-text-sm md:hx-text-md hx-justify-self-end
                  hx-flex hx-flex-row hx-align-middle">
        {{- with $date := .Params.date }}
          <span class="hx-mr-1">
            {{ partial "utils/format-date" $date }}
          </span>
        {{ end -}}
        {{ if and .Params.date .Params.readTime }}
            <span class="hx-mx-1">·</span>
        {{ end -}}
        {{- with .Params.readTime }}
          <span class="hx-mr-1">{{ . }} Minutes</span>
        {{ end }}
      </div>
    </div>
  </div>
</a>